<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Student</title>
</head>
<body>
<h2>Delete Student</h2>
<form th:action="@{/deleteStudent}" method="post">
    <label>Select Student to delete:</label><br>
    <select name="studentId">
        <option th:each="student : ${students}" th:value="${student.id}" th:text="${student.name}"></option>
    </select>
    <br>
    <br>
    <button type="submit">Delete</button>
</form>
<br>
<button onclick="window.location.href='/home'">Back</button>
</body>
</html>
