<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Student</title>
</head>
<body>
<h2>Option List</h2>
<button onclick="window.location.href='/menu/student/list/all'">Display all Students</button>
<br><br>
<button onclick="window.location.href='/menu/student/list/order=gpa'">Display Students by GPA</button>
<br><br>
<button onclick="window.location.href='/menu/student/list/address=HaNoi&order=gpa'">Display Students in HaNoi by GPA</button>
<br><br>
<button onclick="window.location.href='/menu/student/list/order=gpa&except=oldest'">Display Students not in oldest department by GPA</button>
<br><br>
<button onclick="window.location.href='/menu'">Back</button>

</body>
</html>
